<form action="/" method="POST">
  <label for="1">Name</label>
  <input type="text" name="name" value="teddy" id="1"><br>
  <label for="2">Age</label>
  <input type="text" name="age" value="20" id="2">
  <button type="submit">Submit</button>
</form>
